.questions > h2{
    color: red;
    margin-top: 50px;
}


.questions {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.questions > h2{
    color: red;
}

button > .questions{
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button > .questions:hover {
  background-color: #0069d9;
}

.buttons .continue-button{
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.buttons .continue-button:hover {
  background-color: #0069d9;
}


.buttons .back-button{
  font-size: 20px;
  margin-left: 25px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.buttons .back-button:hover {
  background-color: #0069d9;
}

/*----*/
.card{
  width: 1000px;
  height: 70vh;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.questions > h2{
  font-family: sans-serif;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

.questions > p{
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 10px;
}

.questions > button{
  padding: 10px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* margin-top: 50px;
  margin-bottom: 30px; */
  margin: auto;
  margin-top: 50px;
  width: 10%;
}

.completion-button{
  padding: 10px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* margin-top: 50px;
  margin-bottom: 30px; */
  margin: auto;
  margin-top: 50px;
  width: 30%;
}

.questions > button:hover{
  background-color: #0069d9;
}

.completion-button:hover{
  background-color: #0069d9;
}