.ChiefComplaint {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
}

.ChiefComplaint h1{
  margin-bottom: 50px;
}

.form-cc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group-cc {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.label-cc {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}

.ChiefComplaint input[type="text"]{
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 400px;
}

.ChiefComplaint .suggestions {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 420px;
  max-height: 120px;
  overflow-y: auto;
}

.ChiefComplaint .suggestions li {
  padding: 10px;
  cursor: pointer;
}

.ChiefComplaint .suggestions li:hover {
  background-color: #f5f5f5;
}

.ChiefComplaint button[type="submit"]{
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.ChiefComplaint button[type="submit"]:hover {
  background-color: #0069d9;
}

.ChiefComplaint .button-cc{
    margin-top: 50px;
}

/*----*/
.ChiefComplaint .card {
  width: 1000px;
  height: 70vh;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
