.family-history {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.card {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-bullets {
  list-style: none;
  padding: 0;
}

.family-history label {
  font-size: 30px;
  margin-bottom: 50px;
  font-weight: 600;
}

.family-history input[type="text"] {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 400px;
  margin-bottom: 20px;
}

.family-history .filtered-options {
  max-height: 220px;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 420px;
}

.family-history .filtered-options li {
  padding: 10px;
  cursor: pointer;
}

.family-history .filtered-options li:hover {
  background-color: #f5f5f5;
}

.family-history button[type="submit"] {
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  margin-top: 80px;
}

.family-history button[type="submit"]:hover {
  background-color: #0069d9;
}
